{% load thumbnail pytils_numeral %}
{% if tours %}
<div class="items_catalog load_block">
    <input type="hidden" id="max_price" value="{{ max_price|floatformat }}">
    <input type="hidden" id="min_price" value="{{ min_price|floatformat }}">

    <input type="hidden" id="loaded_ids" value="{{ next_id_loaded_items }}">

    {% for tour in tours %}
        <div class="item">
            <div class="item_img">
                {% thumbnail tour.image_main "260x210" crop="center" as im %}
                    <img src="{{ im.url }}" width="260" height="210" alt="" />
                {% endthumbnail %}
                <a class="item_img_fr item_img_fr_{% cycle '1' '2' '3' '4' '5' '6' %}" href="{{ tour.get_absolute_url }}"></a>
            </div>
            <div class="item_des">
                <h3><a href="{{ tour.get_absolute_url }}">{{ tour.title }}</a></h3>
                <div class="item_country">
                    {% for country in tour.get_countries %}
                        <a href="{{ country.get_absolute_url }}">{{ country.title }}</a>
                    {% endfor %}
                </div>
                <div class="item_price">{{ tour.get_str_price }} <span class="r">руб.</span></div>
            </div>
        </div>
    {% endfor %}

    {% if next_id_loaded_items %}

        <div class="pgn load_page">

            <input type="hidden" id="all_loaded_ids" value="{{ next_id_loaded_items|join:'|' }}" />

            {% if page_prev %}
                <a class="pgn_prev" href="#" name="{{ page_prev }}">«</a>
            {% endif %}

            {% for loaded_ids in next_id_loaded_items %}
                {% ifequal loaded_ids curr_ids %}
                    <a class="curr pgn_num_page" href="#" name="{{ loaded_ids }}">{{ forloop.counter }}</a>
                {% else %}
                    <a class="pgn_num_page" href="#" name="{{ loaded_ids }}" {% if forloop.counter > 5 %}style="display: none;" {% endif %}>{{ forloop.counter }}</a>
                {% endifequal %}
            {% endfor %}

            {% if page_next %}
                <a class="pgn_next" href="#" name="{{ page_next }}">»</a>
            {% endif %}

        </div>

    {% endif %}

</div>
{% else %}
    <div class="items_catalog load_block">
        <input type="hidden" id="max_price" value="{{ max_price|floatformat }}">
        <input type="hidden" id="min_price" value="{{ min_price|floatformat }}">
        Туры пока не добавлены.
    </div>
{% endif %}