{% load pytils_numeral thumbnail %}

{% for item in items %}    
    <div class="item">
        <div class="item_img">
            {% thumbnail item.image_main "260x210" crop="center" as im %}
                <img src="{{ im.url }}" width="260" height="210" alt="" />
            {% endthumbnail %}
            <a class="item_img_fr item_img_fr_{% cycle '1' '2' '3' '4' '5' '6' %}" href="{{ item.get_absolute_url }}"></a>
        </div>
        <div class="item_des">
            <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
            <div class="item_country">
                {% for country in item.get_countries %}
                    <a href="{{ country.get_absolute_url }}">{{ country.title }}</a>
                {% endfor %}
            </div>
            <div class="item_price">{{ item.get_str_price }} <span class="r">руб.</span></div>
        </div>
    </div>
{% endfor %}